<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Διπλωματική εργασία πείραμα</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Main Title -->
        <h1 class="main-title">Διπλωματικη εργασία για την εύρεση της πηγής ενός ρύπου αέρα με αισθητήρες χαμηλού κόστους. </h1>

        <!-- Description Text -->
        <p class="description">Το πείραμα έχει σκοπό να βρει την δυνατότητα αισθητήρων μικρού κόστους να εντοπίσουν τοποθεσία των
            πηγών ρύπων. Οι αισθητήρες είναι τοποθετημένοι σε 3 σημεία που θεωρούνται σταθερά καθόλη την διάρκεια των πειραμάτων.
            Επειδή θέλουμε να έχουμε ένα σταθερό περιβάλλον από την αρχή και κατά την διάρκεια του πειράματος, θα θέσουμε το αρχικό άνοιγμα
            παραθύρων σαν ένα νέο ξεκίνημα ενός κύκλου πειραμάτων. Από κάτω δίνεται μια περιγραφή για τα βήματα του πειράματος. <br>
            Στο κάτω μέρος της σελίδας μπορείτε να εισαχθεί η θερμοκρασία και υγρασία του δωματίου. Δεν είναι υποχρεωτικό για να αποθηκευτούν τιμές,
            αλλά είναι χρήσιμο για την καλύτερη λειτουργία των αισθητήρων για να δώσουν καλύτερες τιμές. <br>
            Για οποιαδήποτε απορία, ρωτήστε τον δημιουργό της εφαρμογής. <br>
        </p>
        <p class="note">Για μία παρακολούθηση των τιμών των αισθητήρων σε συνεχές χρόνο,ο χρήστης μπορεί να μπει στα <a href="http://localhost:3000">Dashboards της Grafana</a>.</p>
         <!-- Description of the experiment -->
        <h2 class="sub-title">Σταθεροποίηση αισθητήρων</h2>
         <p class="note">Οι αισθητήρες έχουν σχεδιαστεί να λειτουργούν συνεχόμενα πολύ καιρό, οπότε από ένα σημείο και μετά δεν θα χρειαστεί περαιτέρο διαδικασία για την σταθεροποίηση τους, αν λειτουργούν συνεχόμενα.</p>
        
         <li>Αν οι αισθητήρες δεν έχουν δηλωμένη σταθερή κατάσταση για τουλάχιστον τριάντα λεπτά, θα αναγράφεται στην κατάσταση του πειράματος σαν 
                        μη σταθερή κατάσταση αισθητήρων και δεν θα μπορεί να προχωρήσει ο χρήστης σε νέο βήμα μέχρι την σταθεροποίηση τους.
                        <ol>
                            <li>Για τον BME680, κοίτα αν ο αριθμός για το IAQ accuracy γράφει 0,1,2-3:
                                <ol>
                                    <li>Αν είναι μηδέν, ο χρήστης πρέπει να περιμένει μέχρι να φτάσει στο ένα από μόνο του. 
                                Αν δεν φτάσει κάτι έχει πάει λάθος στον αισθητήρα ή στον εσωτερικό κώδικα.</li>
                                <li>Αν είναι ένα, ο χρήστης πρέπει να αφήσει για κάποια χρονικό διάστημα τον αισθητήρα σε κάθαρο αέρα, και μετά να βάλει τους αισθητήρες μέσα σε ένα κουτί
                                    με την πηγή ρύπου που θα χρησιμοποιήσουμε ωστέ να μπορέσει να αρχίζει να σταθεροποιείται. Οι δύο διαδικασίες αυτές θα γίνουν σε διάστημα τριάντα λεπτών. </li>
                                <li>Αν είναι δύο, είναι καλό σημάδι και περίμενε να φτάσει στο 3.  </li>
                                 <li>Αν έχει φτάσει 3 τότε έχει φτάσει στην υψηλότερη ακρίβεια που μπορεί να πετύχει. Ο χρήσρης περιμένει κανά μισάωρο για εξισορόπηση 
                                    Υπάρχει η περίπτωση να ξανακατέβει η ακρίβεια στο μηδέν, δεν υπάρχει ζήτημα ανυσηχίας, ακολούθησε τα προηγούμενα βήματα </li>   
                                </ol> 
                                 <li>
                                    Για τον CCS811, δεν χρειάζεται κάποια αλληλεπίδραση από τον χρήστη. Αρκεί να τρέχει συνεχόμενα τουλάχιστον για μία ώρα.
                                 </li>       
                            </li>
                    </ol>
        <h2 class="sub-title">Περιγραφή πειράματος</h2>
            <ol>
                    <li>Αν έχει περάσει τουλάχιστον δύο ώρες από οποιαδήποτε εισαγωγή κατάσταση του πειράματος από τον χρήστη,
                    πρέπει να δηλώσει ο χρήστης ότι επιθυμεί ξεκίνημα νέου κύκλου πειράματος,ανεξάρτητα από την προηγούμενη κατάσταση του πειράματος. </li>
                    
                       
                    </li>
                    <li>Ο χρήστης ανοίγει τα παράθυρα για πέντε λεπτά για να εξαεριστεί ο χώρος. Η ιστοσελίδα θα γεμίσει πάλι 
                        μόλις περάσουν τα 5 λεπτά. </li>

                    <li>Ο χρήστης δηλώνει ότι σκοπεύει να εισάγει μία πηγή ρύπου.</li>   
                     <li>Ο χρήστης θα δηλώσει λεπτομέρεις για την πηγή. Πέρα από την τοποθεσία, όλα τα υπολοίπα θα έχουν τις προηγούμενες τιμές που δήλωσε ο χρήστης.
                     <ol>
                        <li>Tον τύπο ρύπου που θα ελέξουμε. Για την δική μας περίπτωση, θα είναι οι μη πτητικές ουσίες ή Volatile Organic Compounds.</li>
                        <li>Τον σπιτικό καταναλώτικό προιόν που θα προέρχεται. Θα χρησιμοποιήσουμε φαρμακευτικό οινόπνευμα. </li>
                        <li>Την ποσότητα του προιόντος που θα εισαχθεί στο δωμάτιο.</li>
                        <li>Την τοποθεσία του στο δωμάτιο, σε απόσταση από τις δύο κοντινότερους τοίχους.</li>
                        <li>Αν τα παραθύρα θα είναι κλειστά ή ανοιχτά.</li>
                        <li>Αν η πόρτα του δωματίου (αν υπάρχει )θα είναι κλειστή ή ανοιχτή.</li>
                        <li>Αν θα υπάρχει ή όχι άνθρωπος στο δωμάτιο.</li>
                     </ol>
                     </li>
                     <li>Ο χρήστης δηλώνει την επιβεβαιώση των παραπάνω και εισαγάγει την πηγή μες στο επόμενο λεπτό.</li>
                     <li>Ο χρήστης αφήνει την πηγή μες στο χώρο για τουλάχιστον 15 λεπτά. Αν για οποιαδήποτε μπορεί ο χρήστης 
                        να ακυρώσει αυτή την προηγούμενη δήλωση του αν έγινε λάθος
                     </li>
                     <li>Αν έχουν περάσει τουλάχιστον 15 λεπτά, ο χρήστης μπορεί να πατήσει το κουμπί το κουμπί ολοκλήρωσης κυκλού πειράματος.
                        Προτείνεται να περιμένει 30 λεπτά καλύτερα.
                     </li>
                     <li>
                        Ο χρήστης θα πρέπει να αφήσει το παράθυρο ανοιχτό για 5 λεπτά. Και έπειτα θα ξαναρχίσει το πείραμα από το σημείο .
                     </li>
            </ol>
            
      
            

        <!-- Experiment State -->
        <h2 class="sub-title">Κατάσταση του πειράματος</h2>
        <div class="state-box">{{ experiment_state }}</div>

      

        <!-- Submission Tempratrue and Humidity Button -->
        <button onclick="location.href='{{ url_for('submitEnvRoomData')}}'" class="submit-button">
            Υπόβαλε Θερμοκρασία και Υγρασία Δωματίου
        </button>
 <!-- Show last env room reading -->
        <div class="content-block">
            {% include 'RoomTempAndHumidity.html' %}
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>