<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Διπλωματική εργασία πείραμα</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Main Title -->
        <h1 class="main-title">Διπλωματικη εργασία για την εύρεση της πηγής ενός ρύπου αέρα με αισθητήρες χαμηλού κόστους. </h1>

     
        </p>
        <p class="note">Για μία παρακολούθηση των τιμών των αισθητήρων σε συνεχές χρόνο,ο χρήστης μπορεί να μπει στα <a href="http://localhost:3000">Dashboards της Grafana</a>.</p>
         <!-- See Description   -->
        
  
        <button onclick="location.href='{{ url_for('description')}}'" class="submit-button">
            Διάβασε την περιγραφή και λεπτομέρειες του πειράματος
        </button>
            

        <!-- Experiment State -->
        <h2 class="sub-title">Κατάσταση του πειράματος</h2>
        <div class="state-box">{{ experiment_state }}</div>

      

        <!-- Submission Tempratrue and Humidity Button -->
        <button onclick="location.href='{{ url_for('submitEnvRoomData')}}'" class="submit-button">
            Υπόβαλε Θερμοκρασία και Υγρασία Δωματίου
        </button>
 <!-- Show last env room reading -->
        <div class="content-block">
            {% include 'RoomTempAndHumidity.html' %}
        </div>
        
    </div>
  <!--   <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
     <script src="{{url_for(static,filename=)}}"></script>
</body>
</html>