<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Εισαγωγή πηγής ρύπου</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Εισήγαγε τις παρακάτω πληροφορίες και έπειτα βάλε τον ρύπο στον χώρο.</h1>

        <form action="{{url_for("submitSourcePollutantDetails")}}" method="post">
            <label for="pollutant-type">Τύπος ρύπου:</label>
            <input type="text"  name="pollutant-type"  list="pollutant-type"  autocomplete="off"
                    value="{{ details['pollutant-type-latest_value'] if details else '' }}"
             required/>

            <datalist id="pollutant-type">
            {%if details %}      
                {% for item in details['pollutant-type-distinct-list'] %}
                    <option value="{{item}}">
                {%endfor%}
            {%endif%}    

            </datalist>
            <label for="item-used">Αντικείμενο προέλευσης</label>

            <input type="text" name="item-used"  list="item-used"  autocomplete="off"
                    value="{{ details['item-used-latest_value'] if details else '' }}"

            
            required/>
            <datalist id="item-used">
             {%if details %}        
                 {% for item in details['item-used-distinct-list'] %}
                    <option value="{{item}}">
                {%endfor%}
            {%endif%}    
   
            </datalist>

            <label for="quantity-used">Ποσότητα που χρησιμοποιείται:</label>
            <input type="text" name="quantity-used"  list="quantity-used"  autocomplete="off"

                         value="{{ details['quantity-used-latest_value'] if details else '' }}"

                required/>
            <datalist id="quantity-used">
            {%if details %}
                {% for item in details['quantity-used-distinct-list'] %}
                    <option value="{{item}}">
                {%endfor%}
            {%endif%}  
            </datalist>

            <label for="room">Δωμάτιο:</label>
            <input type="text" name="room" list="room"  autocomplete="off"
                         value="{{ details['room-latest_value'] if details else '' }}"

         
            required/>
            <datalist id="room">
             {%if details %}        
                 {% for item in details['room-distinct-list'] %}
                    <option value="{{item}}">
                {%endfor%}
            {%endif%}    
             </datalist>    
            <h3>Θέση πηγής ρύπου</h3>
       
            <div class="container" id="source-location-position">
                <label for="no-source-located" >Κάνουμε καταμετρήση των τιμών των αισθητήρων χωρίς κάποια επιλεγμένη πηγή ρύπου </label>
                </label>
                <input type="checkbox" id="no-source-located" name="no-source-located">
                </input>
                <br><br>
                <label for="front-wall">Απόσταση από μπροστινό τοίχο σε μέτρα:</label>
                <input type="number" name="front-wall" id="front-wall" min="0" step="0.01"
                    value="{{ details['front-wall-latest_value'] if details else '' }}">

                <label for="back-wall">Απόσταση από πίσω τοίχο σε μέτρα:</label>
                <input type="number" name="back-wall" id="back-wall" min="0" step="0.01"
                    value="{{ details['back-wall-latest_value'] if details else '' }}">

                <label for="side-right-wall">Απόσταση από δεξιό τοίχο σε μέτρα:</label>
                <input type="number" name="side-right-wall" id="side-right-wall" min="0" step="0.01"
                    value="{{ details['side-right-wall-latest_value'] if details else '' }}">

                <label for="side-left-wall">Απόσταση από αριστερό τοίχο σε μέτρα:</label>
                <input type="number" name="side-left-wall" id="side-left-wall" min="0" step="0.01"
                    value="{{ details['side-left-wall-latest_value'] if details else '' }}">
            </div>

            <div>
            <input type="checkbox" id="are-windows-opened" name="are-windows-opened">
            <label for="are-windows-opened">Θα είναι τα παράθυρα ανοιχτά?</label>
            </div>
            <div>
            <input type="checkbox" id="are-doors-opened" name="are-doors-opened">
            <label for="are-doors-opened">Θα είναι οι πόρτες ανοιχτές?</label>
            </div>
            <div>
            <input type="checkbox" id="are-people-inside" name="are-people-inside">
            <label for="are-people-inside">Θα είναι άνθρωποι μες στον χώρο?</label>
            </div>
            <div>
            <input type="checkbox" id="are-fans-on" name="are-fans-on">
            <label for="are-fans-on">Θα είναι οι ανεμιστήρες ανοιχτοί?</label>
            </div>
            <div>
            <label for="notes">Σημειώσεις:</label>
            <input type="text" id="notes" name="notes" autocomplete="off">
            </div>            

            <button type="submit">Υπόβολη πληροφοριών</button>

        </form>
        {%include 'temp_message.html'%}
            {%include 'mainPageButton.html' %}

    </div>
        <script src="{{url_for('static',filename='javascript/requestHandler.js')}}"></script>

    <script src="{{ url_for('static', filename='javascript/insertingSourcePollutant.js') }}"></script>
 </body>
</html>       